[submodule "packages/zlib"]
	path = Simulation/third_party/packages/zlib
	url = https://github.com/madler/zlib.git
[submodule "packages/glfw"]
	path = Simulation/third_party/packages/glfw
	url = https://github.com/glfw/glfw.git
	branch = latest
[submodule "packages/libjpeg-turbo"]
	path = Simulation/third_party/packages/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
	branch = 1.4.x
[submodule "packages/libpng"]
	path = Simulation/third_party/packages/libpng
	url = https://github.com/glennrp/libpng.git
	branch = libpng16
[submodule "packages/tinyobjloader"]
	path = Simulation/third_party/packages/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "packages/imgui"]
	path = Simulation/third_party/packages/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "packages/glm"]
	path = Simulation/third_party/packages/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.7
[submodule "packages/freetype2"]
	path = Simulation/third_party/packages/freetype2
	url = http://git.savannah.gnu.org/r/freetype/freetype2.git
[submodule "packages/libtga"]
	path = Simulation/third_party/packages/libtga
	url = https://github.com/tommylutz/libtga
[submodule "packages/eigen"]
	path = Simulation/third_party/packages/eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "manual_packages/kalman"]
	path = Simulation/third_party/manual_packages/kalman
	url = https://github.com/mherb/kalman
[submodule "manual_packages/rpmalloc"]
	path = Simulation/third_party/manual_packages/rpmalloc
	url = https://github.com/ssteinberg/rpmalloc
